body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}
/*
table {
    width: 100%;
    margin: 1em 0;
    border: solid 1px #cccccc;
    border-collapse: collapse;
}

table tr td, table tr th {
    border: solid 1px #cccccc;
    padding: 5px 5px;
}

table td {
    background-color: #FFFFFF;
}

table th {
    background-color: #DDD;
    background-image: url(../images/thead-bg.png);
    background-repeat: repeat-x;
    height: 25px;
    text-align: left;
    color: #333;
    padding: 5px;
    font-weight: bold;
}

table th label {
    font-weight: bold;
}    */

textarea {
    width: 100%;
    height: 200px;

}

.form-signin input[type="text"],
.form-signin input[type="password"] {
    width: 100%;
}

input.error {
    background-color: #FFCC33;
}

.action_message{
    font-style: italic;
    color: #43e9ff;
}

.action_message li{
    list-style-type: none;
}

.not_filled td{
    background-color: #ff5b52;
}

/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #1b1b1b;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px 12px 4px 4px;
    color: #0088cc;
}
table.tablesorter thead tr .header {
	background-image: url(../images/ice-unsorted.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color: #aae2ff;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/ice-asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/ice-desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #0088cc;
    color: #FFF;
}
