<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">



    <context-param>
      <param-name>
        javax.servlet.jsp.jstl.fmt.localizationContext
      </param-name>
      <param-value>texts</param-value>
    </context-param>

    <!-- spring -->
    <listener>
        <description>initialize spring framework when application is started</description>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/spring-context2.xml</param-value>
    </context-param>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- ERROR pages -->
    <error-page>
        <error-code>401</error-code>
        <location>/errors/401.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/errors/403.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/errors/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/errors/500.jsp</location>
    </error-page>

    <!-- stripes -->
    <filter>
        <description>stripes configuration</description>
        <display-name>Stripes Filter</display-name>
        <filter-name>stripesFilter</filter-name>
        <filter-class>net.sourceforge.stripes.controller.StripesFilter</filter-class>

        <init-param>
            <param-name>ActionResolver.Packages</param-name>
            <param-value>bbmri.action</param-value>
        </init-param>

        <init-param>
            <param-name>ActionBeanContext.Class</param-name>
            <param-value>bbmri.action.TheActionBeanContext</param-value>
        </init-param>

        <init-param>
            <param-name>Extension.Packages</param-name>
            <param-value>
                net.sourceforge.stripes.integration.spring,
                bbmri.security
            </param-value>
        </init-param>



        <init-param>
           <param-name>ResourceBundles.BaseNames</param-name>
           <param-value>texts,errors</param-value>
         </init-param>

        <init-param>
            <description>supported languages</description>
            <param-name>LocalePicker.Locales</param-name>
            <param-value>cs:utf-8, en:utf-8</param-value>
        </init-param>


    </filter>
    <filter-mapping>
        <filter-name>stripesFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter>
        <description>stripes mapping filter</description>
        <filter-name>dynamicMappingFilter</filter-name>
        <filter-class>net.sourceforge.stripes.controller.DynamicMappingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>dynamicMappingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>


</web-app>
